@import 'microtip';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  @apply h-16 flex items-center px-6 justify-between print:hidden border-b;
  &__controls {
    @apply flex space-x-4;
  }
  &__branding {
    @apply flex items-center space-x-2;
    p {
      @apply text-lg font-bold;
    }
  }
}
.btn {
  @apply px-4 py-2 bg-pink-600 text-white rounded-md;
}

.app {
  display: flex;
  flex-direction: row;
  &__markdown {
    footer {
      @apply mt-4 flex justify-center;
    }
    @apply print:hidden;
  }
  &__rendered {
    @apply overflow-y-auto relative w-full;
    @apply print:overflow-y-visible;
    height: calc(100vh - 0px);
    @apply print:h-full;
  }
  .rendered {
    @apply relative;
  }
}

#rendered {
  @apply print:absolute print:top-0 print:left-0 print:w-full;
  @media print {
    width: calc(100vw - 32px);
  }
}

#markdown {
  @apply w-full;
  height: calc(100vh - 0px);
}

.cm-editor {
  height: calc(100vh - 0px);
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.icon-btn {
  @apply bg-gray-100 border border-gray-200 w-10 h-10 rounded-md grid place-items-center text-black;
  @apply hover:bg-gray-200;
}
